#field{
    background: #0074A8;
    height: 100vh;
    width: 100vw;
    position: relative;
    color: white;
}
#field .head{
    top: 5rem;
    font-size: 65px;
}
#field .para{
    top: 7rem;
    font-size: 20px;
    letter-spacing: 1.5px;
}
:root{
    --clr-neautral-900: hsl(207,19%,9%);
    --clr-neautral-100: hsl(0,0%,100%);
    --clr-accent-400: hsl(142,90% ,61%);
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.card{
    color: var(--clr-neautral-100);
    /* font-family: sans-serif; */
    background-image: url('https://image.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg');
    background-size: cover;
    padding: 4rem 0 0;
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;
    height: 320px;
    transition: transform 500ms ease;
    margin: 3rem;
}


.card-content{
    padding: 1.5em;
    background: linear-gradient( hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.3) 20% ,hsl(0 0% 0% / 1) ) ;
    height: 100%;
    transform: translateY(65%);
    transition: transform 500ms ease;
    transition-delay: 500ms;
}

.card-content > *:not(.card-title)
{
    opacity: 0;
    transition: transform 500ms ease;
    
}
.card:hover .card-content > *:not(card-title)
{
    opacity: 1;
    transition-delay: 1000ms;
}
.card-title{
    position: relative;
    width: max-content;
}
.card-title::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 118%;
    left: -1.5rem;
    bottom: -7px;
    height: 3px;
    background: var(--clr-accent-400);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
    /* transition: left; */
}
.card:hover .card-title::after{
    transform: scaleX(1);
}
.button{
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neautral-900);
    background: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.25rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.button:hover,.button:focus{
    background: var(--clr-neautral-100);   
}
.card-content h2{
    margin-bottom: 1rem;
    max-width: 21ch;
}
.card-content p{
    margin-bottom: 1.2rem;
}
.card:hover{
    transform: scale(1.05);
}
.card:hover .card-content{
    transform: translateY(0%);
}
.slider-button{
    font-size: 2rem;
    /* border-radius: 50%; */
    padding: 0px 10px;
    border: none;
    background: #282c34;
    color: white;
}

@media only screen and (max-width: 1059px){
    #field .head {
        top: 5rem;
        font-size: 3rem;
    }
    #field .para {
        top: 7rem;
        font-size: 16px;
        letter-spacing: 1.5px;
    }
    #field .card {
        color: var(--clr-neautral-100);
        /* font-family: sans-serif; */
        background-image: url(https://image.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg);
        background-size: cover;
        padding: 4rem 0 0;
        max-width: 35ch;
        border-radius: 1rem;
        overflow: hidden;
        height: 15rem;
        transition: transform 500ms ease;
        margin: 3rem;
    }
    #field .card-content h2 {
        margin-bottom: 1rem;
        max-width: 21ch;
        font-size: 1rem;
    }
    #field .card-content p {
        margin-bottom: 1.2rem;
        font-size: 10px;
    }
    #field .card-content .button {
        cursor: pointer;
        font-size: 10px;
        display: inline;
        text-decoration: none;
        color: var(--clr-neautral-900);
        background: var(--clr-accent-400);
        padding: 0.25em 0.2em;
        border-radius: 0.25rem;
        font-weight: bold;
        transition: 0.3s ease-in-out;
    }
}
@media only screen and (max-width: 800px){
    #field {
        background: #0074A8;
        height: 126vh;
        width: 268vw;
        position: relative;
        color: white;
        padding: 8rem 0;
        margin-top: 0rem;
    }
}
