#footer{
    position: relative;
    width: 100vw;
}
#footer img{
    width: 100%;
    height: 18rem;
}
#footer .content{
    position: absolute;
    
    margin: 5rem 15rem;
}
#footer .content h1{
    color: white;
    font-size: 100px;
}
#footer h2{
    position: absolute;
    /* top: -1rem; */
    color: grey;
    margin: 14rem 36rem;
}