/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap') */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    height: 100vh;
}
html{
    scroll-behavior: smooth;
}
.container{
    background: white;
}
#homepage .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#homepage .landingpage {
    position: relative;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    background: rgb(255 255 255);
}

#homepage .landingpage::before{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#0074A8,transparent);
    z-index: 10;
}

#homepage .landingpage #text{
    position: absolute;
    color: #094b65;
    font-size:2rem;
    text-align: center;
    line-height: 1;
    font-weight: 300;
}

#homepage .landingpage #text span{
    font-size: 5rem;
    letter-spacing: 2px;
    font-weight: 800;
    margin-bottom: 5rem;
}


#homepage #btn{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: #094b65;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    transform: translateY(70px);
}

#homepage .landingpage img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#homepage .Section{
    position: relative;
    background: #0074A8;
}
@media only screen and (max-width: 800px) {
    
#homepage .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 264%;
        padding: 30px 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    #homepage .landingpage {
        position: relative;
        width: 267%;
        height: 274vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        overflow: hidden;
        background: rgb(255 255 255);
    }
    #homepage .Section {
        position: relative;
        background: #0074A8;
        width: 267%;
        height: 150vh;
        padding: 7rem 0;
    }
    
#homepage #About .g2 {
        left: 42rem;
        top: 23rem;
    }

    #homepage #team {
        background: #0074A8;
        height: 125vh;
        width: 267vw;
        position: relative;
        padding: 10rem 0;
    }

    #homepage #contact {
        height: 100vh;
        width: 268vw;
        background: #0074A8;
        color: white;
    }
    
#homepage #About {
        height: 100vh;
        width: 100%;
        position: relative;
    }
    #About .g2 {
        left: 42rem;
        top: 30rem;
    }
    #field {
        background: #0074A8;
        height: 126vh;
        width: 268vw;
        position: relative;
        color: white;
        padding: 8rem 0;
        margin-top: 0rem;
    }
  }
  
#homepage{
    background: white;
    max-width: 100vw;
    overflow: hidden;
}

@media only screen and (max-width:800px){
    #homepage .landingpage {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        overflow: hidden;
        background: rgb(255 255 255);
    }
    #homepage .landingpage #text span {
        font-size: 4rem;
        letter-spacing: 2px;
        font-weight: 800;
        margin-bottom: 5rem;
    }
    #homepage .Section {
        position: relative;
        background: #0074A8;
        width: 100%;
        height: 100vh;
        padding: 7rem 0;
    }
    #homepage #contact {
        height: 100vh;
        width: 100%;
        background: #0074A8;
        color: white;
        margin-bottom: 2rem;
    }
}