*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background: linear-gradient(to right, #185a9d, #43cea2); */
}

#ai{
    background: #43cea2;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /*Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #185a9d, #43cea2);
     max-width: 100vw;
    overflow: hidden; /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  
#ai #container{ 
    width: 100%; 
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
#ai #container #left{
    margin-left: 4rem; 
} 
#ai #container #left h2{
    font-size: 4rem;
    color: white;
    margin-top: 3rem;

}
#ai #container #left p{
    font-size: 20px;
    font-weight: 600;
    color: white;
    width:80%;
    margin-top: 1rem;
}
#ai #container #right img{
    width: 35rem;
    margin-right: 2rem;
}
#ai #container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ai #container2 h1{
    margin-top: 2rem;
    color:black;
    /* text-decoration: underline; */
    font-weight: 600;  
    font-size: 3rem; 
    margin-bottom: 1rem; 
    border: 6px solid #fff;
    border-radius: 57px;
    padding:15px 15px;
    padding-top: 5px;
    padding-bottom: 8px;

}
#ai #container2 ul p{
    color:white;
    font-size: 2.5rem;
    font-weight: 500;    
}
#ai #container2 ul li{
    margin-left: 2rem;
    margin-right: 2rem;
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
#ai #container2 ul li span{
    color: aqua;
}
#ai #container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ai #container1 h1{
    margin-top: 2rem;
    color:black;
    /* text-decoration: underline; */
    font-weight: 600;  
    font-size: 3rem; 
    margin-bottom: 1rem; 
    border: 6px solid #fff;
    border-radius: 57px;
    padding:15px 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#ai #container1 p{
    color:white;
    font-size: 1.6rem;
    font-weight: 500;  
    margin-left: 2rem;  
    margin-right: 2rem; 
    padding-top:2.0rem; 
}
#ai #container1 ul li{
    margin-left: 2rem;
    margin-right: 2rem;
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
#ai #container1 ul li span{
    color: aqua;
}
#ai #container2 img{
    margin-top: 2rem;
    margin-left: 3rem;
        width: 60rem;
        margin-bottom: 4rem;
        box-shadow: 0 0 5px 8px rgb(0 0 0 / 40%);
        margin-bottom: 4rem;

}
#ai #cards{
    background: linear-gradient(to right, #185a9d, #43cea2);
  }
  #ai #card{
    margin: 3%;
    transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
    background-color: #fff;
    width:33.25%;
    border-radius: 12px;
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
    float:left;
  margin-left: 8.5rem;
  
  }
  #ai #card:hover{
    box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1);
    transform: scale(1.05,1.05);
  }
  #ai #card_img{
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    }
    #ai #card_info{
      background-color:#fff;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 16px 24px 24px 24px;
      
    }
    #ai #card_category{
      font-family: sans-serif;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 2px;
      font-weight: 500;
      color:#868686;
      background-color: #fff;
    }
    #ai #card_title{
      margin-top: 5px;
      margin-bottom: 10px;
      font-family: sans-serif;
      background-color: #fff;
    }
    /* button{
      padding: 5px 8px;
      font-family: sans-serif;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 2px;
      font-weight: 500;
      color: #868686;
      background-color: #fff;
      outline: none;
      border: 1px solid black;
      cursor: pointer;
  
    } */
  
    @media(max-width :786px)
    {
        #ai #card{
        float: none;
        margin:5%;
        width:90%;
      }
    }
    #ai #headin{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #ai #headin h1{
        margin-top: 5rem;
        color:black;
        /* text-decoration: underline; */
        font-weight: 600;  
        font-size: 3rem; 
        margin-bottom: 1rem; 
         border: 6px solid #fff;
        margin-bottom: 5rem;
        border-radius: 57px;
        padding:15px 15px;
        padding-top: 5px;
        padding-bottom: 8px;
    }
    
    #ai #container4 h1{
        color: black;
        margin-left: 21rem;
        font-size: 4rem;
        font-weight: 550;
        margin-bottom: 4rem;
        margin-top: 5rem;
    }
    #ai #container4 img{
        margin-left: 12rem;
        width: 60rem;
        margin-bottom: 4rem;
        box-shadow: 0 0 5px 8px rgb(0 0 0 / 40%);
        margin-bottom: 4rem;
    }
    #ai #container3 #wrapper{
        background: rgba(0,0,0,.14901960784313725);
        padding: 4rem;
        border-radius: 10px;
        overflow: hidden;
        margin-left: 1rem;
        margin-right: 1rem;
        
    }
    #ai #explore-footer{
        margin-bottom: -10rem;
    }

@media screen and (max-width:800px) {
    #ai {
        width: 100%;
        background: #43cea2;
        background: linear-gradient(to right, #185a9d, #43cea2);
        overflow: hidden;
    }
    #ai #container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    #ai #container #right img {
        width: 20rem;
        margin-right: 0rem;
        margin-top: -6rem;
    }
    #ai #container #left h2 {
        font-size: 2rem;
        color: white;
        margin-top: 3rem;
    }
    #ai #container #left p {
        font-size: 12px;
        font-weight: 500;
        color: white;
        width: 80%;
        margin-top: 1rem;
    }
    #ai #left h1{
    text-decoration: none;
    position: absolute;
    top: 3%;
    left: 4rem;
    color: rgb(255, 152, 0);
    }
    #ai #container1 h1 {
        margin-top: 0rem;
        color: black;
        /* text-decoration: underline; */
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 0rem;
        border: none;
        border-radius: 57px;
        padding: 0;
        padding-top: 0;
        padding-left: 4rem;
        padding-bottom: 0;
    }
    #ai #container1 p {
        font-size: 1rem;
        color: white;
        font-weight: 200;
        margin-left: 4rem;
        margin-right: 2rem;
        padding-top: 2rem;
    }
    #ai #container1 ul li {
        margin-left: 2rem;
        margin-right: 2rem;
        color: white;
        font-weight: 500;
        font-size: 0.7rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #ai #container2 h1 {
        margin-top: 2rem;
        color: black;
        /* text-decoration: underline; */
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 57px;
        padding: 15px 15px;
        padding-top: 5px;
        padding-bottom: 8px;
        font-weight: bold;
    }
    #ai #container2 ul p {
        color: white;
        font-size: 1rem;
        font-weight: 500;
        padding-left: 1rem;
    }
    #ai #container2 ul li {
        margin-left: 2rem;
        margin-right: 2rem;
        color: white;
        font-weight: 500;
        font-size: 0.7rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #ai #container2 img {
        margin-top: 0rem;
        margin-left: 0rem;
        width: 19rem;
        box-shadow: 0 0 5px 8px rgb(0 0 0 / 40%);
        margin-bottom: 2rem;
    }
    #ai #headin h1 {
        margin-top: 3rem;
        color: black;
        /* text-decoration: underline; */
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 1rem;
        border: none;
        margin-bottom: 5rem;
        border-radius: 57px;
        padding: 15px 15px;
        padding-top: 5px;
        padding-bottom: 8px;
        font-weight: bold;
    }
    #ai #cards {
        background: transparent;
    }
    #ai #container3 #wrapper {
        background: rgba(0,0,0,.14901960784313725);
        padding: 1rem;
        border-radius: 10px;
        overflow: hidden;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #ai #container4{
        display: none;
    }
}