*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#opensource{
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
#landingpage{
    display: flex;
    /* align-items: stretch; */
    justify-content: center;
    height: 100vh;
}
#landingpage .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 2rem; */
    padding-left: 4rem;
}
#landingpage img{
    width: 47rem;
    height: 28rem;
    /* top: 65%; */
    margin-top: 5rem;
}
#landingpage .content h1{
    font-size: 5rem;
    color: white;
}
#landingpage .content p{
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding-left: 7px;
    padding-top: 1rem;
}
#opensource .components-OS{
    height: 100vh;
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
#opensource .components-OS img{
    position: absolute;
    width: 25rem;
    right: 2rem;
    top: 14rem;
}
#opensource .components-OS h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}
#opensource .components-OS h2{
    font-size: 2rem;
    color: #fff;
    position: relative;
    text-transform: uppercase;
}
#opensource .components-OS p{
    font-size: 20px;
    font-weight:500;
    width: 65%;
    color: white;
}

#opensource .components-OS h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 15%;
    background: #9b59b6;
}
#opensource .benefits-os{
    height: 100vh;
    width: 100%;
    padding: 4rem; 
     display: flex;
    flex-direction: column;
    justify-content: center;
}
#opensource .benefits-os h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}
#opensource .benefits-os li{
    font-size: 25px;
    font-weight:500;
    line-height: 2;
    color: white;
}
#opensource .benefits-os ul{
    margin-left: 4rem;
}
#opensource .prereq-os{
    height: 100vh;
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#opensource .prereq-os h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}
#opensource .prereq-os ul{
    margin-left: 4rem;
}
#opensource .prereq-os li{
    font-size: 25px;
    font-weight:500;
    line-height: 2;
    color: white;
}
#opensource .prereq-os img{
    width: 50rem;
    margin: 0 14rem;
}
#opensource .programs-os{
    height: 100vh;
    /* position: relative; */
}
#opensource .mostusedlang{
    height: 100vh;
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#opensource .mostusedlang h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
}
#opensource .mostusedlang img{
    width: 50rem;
    height: 30rem;
}
#opensource .programs-os h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}
#opensource .wrapper{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
}
#opensource .wrapper .row{
    display: flex;
    justify-content: flex-start;
}
#opensource .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
}
#opensource .wrapper .row section{
    background: #fff;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}
#opensource .wrapper .row-1{
    justify-content: flex-start;
}
#opensource .wrapper .row-2{
    justify-content: flex-end;
}
.row section .details{
    display: flex;
    justify-content: space-between;
}
.row section .details .title{
    font-size: 22px;
    font-weight: bold;

}
.row section p{
    margin: 10px 0 17px 0;
}
.row section .bottom a{
    text-decoration: none;
    background: #ff7979;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: 400;
}
.wrapper .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    transform: rotate(45deg);
}
.row-1 section::before{
    right: -7px;
}
.row-2 section::before{
    left: -7px;
}
.row section .icon, 
.scroll-icon{
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ff7979;
    top: 13px;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff,inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05) ;
}
.row-1 section .icon{
    right: -60px;
    top: 13px;
}

.row-2 section .icon{
    left: -60px;
    top: 13px;
}
.scroll-icon {
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
#opensource .programs-os{
    height: 100%;
}
#opensource .wrapper{
    background: #00000026;
    padding: 4rem;
    border-radius: 10px;
    overflow: hidden;
}
@media screen and (max-width:800px) {
    #opensource {
        background: #43cea2;
        background: linear-gradient(to right, #185a9d, #43cea2);
        width: 100vw;
        overflow: hidden;
    }
    #landingpage {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    #landingpage > a{
        text-decoration: none;
    position: absolute;
    top: 3%;
    left: 8rem;
    color: rgb(255, 152, 0);
    }
    #landingpage img {
        width: 22rem;
        height: 15rem;
        top: 0%;
        margin-top: 5rem;
    }
    #landingpage .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* padding: 2rem; */
        padding-left: 2rem;
    }
    #landingpage .content h1 {
        font-size: 3rem;
        color: white;
    }
    #landingpage .content p {
        font-size: 13px;
        font-weight: 500;
        color: white;
        padding-left: 7px;
        padding-top: 1rem;
    }
    #opensource .components-OS {
        height: 100%;
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-top: 2rem;
    }
    #opensource .benefits-os {
        height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    #opensource .components-OS h1 {
        color: white;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    #opensource .components-OS img {
        position: unset;
        width: 18rem;
        right: 2rem;
        top: 14rem;
    }
    #opensource .components-OS h2 {
        font-size: 1rem;
        color: #fff;
        position: relative;
        text-transform: uppercase;
    }
    #opensource .components-OS p {
        font-size: 12px;
        font-weight: 500;
        width: 100%;
        color: white;
    }  
    #opensource .benefits-os h1 {
        color: white;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    #opensource .prereq-os {
        height: 100%;
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #opensource .benefits-os ul {
        margin-left: 2rem;
    }
    #opensource .benefits-os li {
        font-size: 13px;
        font-weight: 500;
        line-height: 2;
        color: white;
    }
    #opensource .prereq-os h1 {
        color: white;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    #opensource .prereq-os img {
        width: 22rem;
        margin: 0;
    }
    #opensource .prereq-os ul {
        margin-left: 2rem;
    }
    #opensource .prereq-os li {
        font-size: 13px;
        font-weight: 500;
        line-height: 2;
        color: white;
    }
    #opensource .programs-os h1 {
        color: white;
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 3rem;
    }
    #opensource .wrapper {
        background: #00000026;
        padding: 1rem;
        border-radius: 10px;
        overflow: hidden;
    }
    #opensource .wrapper .row-1 {
        justify-content: flex-end;
    }
    #opensource .wrapper .row-2 {
        justify-content: flex-end;
    }       
    #opensource .center-line {
        position: absolute;
        height: 100%;
        width: 4px;
        background: #fff;
        left: 10%;
        top: 0px;
        transform: translateX(-50%);
    }
    #opensource .wrapper .row section {
        background: #fff;
        border-radius: 5px;
        width: 90%;
        padding: 20px;
        position: relative;
    }
    .row section .details .title {
        font-size: 15px;
        font-weight: bold;
    }
    .row section p {
        margin: 10px 0 17px 0;
        font-size: 11px;
    }       
    .row section .bottom a {
        text-decoration: none;
        background: #ff7979;
        color: #fff;
        padding: 7px 15px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 10px;
    }
    .wrapper .row section::before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        background: #fff;
        top: 28px;
        left: -5px;
        transform: rotate(
    45deg
    );
    }
    #opensource .wrapper .row {
        justify-content: flex-end;
        margin-bottom: 1rem;
    }
    .row-2 section .icon {
        left: -60px;
        top: 13px;
        display: none;
    }
    #opensource .mostusedlang {
        height: 100%;
        width: 100%;
        padding: 0rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #opensource .mostusedlang h1 {
        color: white;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    #opensource .mostusedlang img {
        width: 20rem;
        height: 11rem;
    }
}