.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(
    45deg,
    #0074A8,
    #fff
  );
  border-radius: 3px;
} 
#main-nav-bar{
  background: black;
  display: flex;
  padding: 12px;
  justify-content: space-around;
  align-items: center;
}
#main-nav-bar div > a{
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
#main-nav-bar #nav-menu{
  display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
#main-nav-bar #nav-menu a{
  color: white;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
}
#main-nav-bar #nav-menu a:hover{
  color: #3b49df;
}
#main-nav-bar #nav-menu .active{
  color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 15px;
    background: #3b49df;
    border-radius: 5px;
}
#main-nav-bar #nav-menu .active:hover{
  color: white;
}
#main-nav-bar  button{
  background: transparent;
  color: white;
  padding: 5px 20px;
  /* border-radius: 3px; */
  border: 2px solid #3b49df;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
#main-nav-bar  button:hover{
  background-color: #3b49df;
  color: white;
}
@media only screen and (max-width:800px){
  #main-nav-bar div > a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
  }
  #main-nav-bar #nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 10px;
  }
  #main-nav-bar #nav-menu .MuiSvgIcon-root{
    font-size: 12px;
  }
  #main-nav-bar #nav-menu a:nth-child(4){
    display: none;
  }
  #main-nav-bar #nav-menu .active {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    background: #3b49df;
    border-radius: 5px;
}
#main-nav-bar button {
  background: transparent;
  color: white;
  padding: 3px 10px;
  /* border-radius: 3px; */
  border: 2px solid #3b49df;
  font-family: inherit;
  font-weight: 600;
  font-size: 10px;
  cursor: pointer;
  transition: 0.3s;
}
#main-nav-bar .user > span{
  display: none;
  font-size: 10px;
}
#main-nav-bar .user .MuiSvgIcon-root{
  font-size: 1.5rem;
}
}