#blogpage{
    color: #8f9bad;
    background-color: #fff;
    font-size: 15px;
    line-height: 1.7;
    overflow-x: hidden;
    padding: 2rem 6rem;
    min-height: 100vh;
}
#blogpage .header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#blogpage .header > a{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#blogpage .header .right a{
    outline: 0;
    text-decoration: none;
    margin-right: 3rem;
    color: gray;
    font-weight: 600;
}
#blogpage .header .right a:hover{
    color: #42b983;
}
#blogpage .header .right .active{
    background: #42b983;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
}
#blogpage .header button{
    padding: 7px 20px;
    border: 2px solid #42b983;
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: #42b983;
    cursor: pointer;
    transition: 0.3s;
}
#blogpage .header button:hover{
    background-color: #42b983;
    color: white;
}
#blogpage .main-blog{
    padding: 2rem 0;
    max-width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#blogpage .main-blog h1{
    color: #42b983;
    font-weight: 400;
    margin-bottom: 1rem;
}
#blogpage .main-blog #coverimage{
    border-radius: 10px;
    max-width: 39rem;
    margin-top: 1rem;
    min-width: 39rem;
}
#blogpage .main-blog p{
    width: 100%;
    margin: 2rem 0;
    color: rgb(83, 83, 83);
    font-weight: 500;
}
#blogpage .main-blog .subnav{
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}
#blogpage .main-blog .subnav .MuiSvgIcon-root{
    color: pink;
}

#blogpage .main-blog .subnav span{
    color: black;
}
#blogpage .main-blog .subnav .tags span{
    margin-left: 1rem;
    font-size: 12px;
    text-transform: lowercase;
    background: #07ff074d;
    color: black;
    padding: 2px 10px;
    border-radius: 20px;
    border: 1px solid #07ff07;
}
#blogpage .main-blog .subnav > h2{
    color: rgb(12, 12, 12);
    font-weight: 100;
    font-size: 20px;
}
#blogpage .main{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width:800px){
    #blogpage {
        color: #8f9bad;
        background-color: #fff;
        font-size: 15px;
        line-height: 1.7;
        overflow-x: hidden;
        padding: 2rem 1rem;
        min-height: 100vh;
    }
    #blogpage .main-blog #coverimage {
        border-radius: 10px;
        max-width: 100%;
        margin-top: 1rem;
        min-width: 100%;
        width: 100%;
    }
}