#blog-Mainpage h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}
#blog-Mainpage{
    color: #8f9bad;
    background-color: #fff;
    font-size: 15px;
    line-height: 1.7;
    overflow-x: hidden;
    padding: 2rem 0rem;
    min-height: 100vh;
}
#blog-Mainpage .header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#blog-Mainpage .header > a{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#blog-Mainpage .header .right a{
    outline: 0;
    text-decoration: none;
    margin-right: 3rem;
    color: gray;
    font-weight: 600;
}
#blog-Mainpage .header .right a:hover{
    color: #42b983;
}
#blog-Mainpage .header .right .active{
    background: #42b983;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
}
#blog-Mainpage .header button{
    padding: 7px 20px;
    border: 2px solid #42b983;
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: #42b983;
    cursor: pointer;
    transition: 0.3s;
}
#blog-Mainpage .header button:hover{
    background-color: #42b983;
    color: white;
}
#blog-Mainpage .landingpage{
    width: 80%;
    overflow: hidden;
    max-height: 70vh;
    margin: 3rem 0;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 10%);
    margin: 3rem auto;
}
#blog-Mainpage .landingpage img{
    width: 60%;
    min-height: 70vh;
    border-radius: 10px;
}
#blog-Mainpage .landingpage .subnav{
    padding: 0 1rem;
}
#blog-Mainpage .landingpage .subnav h1{
    color: #434b52;
    font-size: 24px;
}
#blog-Mainpage .landingpage .subnav h2{
    font-size: 1rem;
    font-weight: 400;
}
#blog-Mainpage .landingpage .subnav button{
    padding: 7px 20px;
    border: 2px solid #42b983;
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: #42b983;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
#blog-Mainpage .landingpage .subnav button:hover{
    color: white;
    background-color: #42b983;
}
#blog-Mainpage .moreblogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#blog-Mainpage .moreblogs .blog-card{
    width: 40ch;
    overflow: hidden;
    height: 55vh;
    border: 2px solid #42b983;
    padding: 1rem;
    border-radius: 10px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: #e9ffea;
}
#blog-Mainpage .moreblogs .blog-card .top{
    height: 55%;
}
#blog-Mainpage .moreblogs .blog-card img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
#blog-Mainpage .moreblogs .blog-card h2{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #3d4f58;
}
#blog-Mainpage .moreblogs .blog-card p{
    max-height: 70px;
    word-break: break-all;
    overflow: hidden;
    margin: 0;
    font-size: 13px;
}
#blog-Mainpage .moreblogs .blog-card button{
    padding: 7px 20px;
    border: 2px solid #42b983;
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: #42b983;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
#blog-Mainpage .moreblogs .blog-card button:hover{
    color: white;
    background-color: #42b983;
}
#blog-Mainpage .moreblogs .blog-card h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #3d4f58;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1rem;
}
#blog-Mainpage .landingpage .subnav p{
    height: 14rem;
    overflow: hidden;
}
@media only screen and (max-width:800px){
    #blog-Mainpage .landingpage {
        width: 80%;
        overflow: hidden;
        max-height: 100%;
        margin: 3rem 0;
        display: flex;
        border-radius: 10px;
        box-shadow: 0 0 5px 5px rgb(0 0 0 / 10%);
        margin: 3rem auto;
        flex-direction: column;
        padding: 1rem;
    }
    #blog-Mainpage .landingpage img {
        width: 100%;
        max-height: 11rem;
        min-height: 0;
        border-radius: 10px;
    }
    #blog-Mainpage .landingpage .subnav h1 {
        color: #434b52;
        font-size: 15px;
    }
    #blog-Mainpage .landingpage .subnav p{
        max-height: 5rem;
        overflow: hidden;
    }
    #blog-Mainpage .landingpage .subnav button {
        padding: 7px 20px;
        border: 2px solid #42b983;
        background: none;
        font-size: 15px;
        font-weight: 600;
        color: #42b983;
        cursor: pointer;
        transition: 0.3s;
        text-decoration: none;
    }
    #blog-Mainpage .moreblogs .blog-card {
        width: 35ch;
        overflow: hidden;
        height: 60vh;
        border: 2px solid #42b983;
        padding: 1rem;
        border-radius: 10px;
        margin-right: 0;
        margin-bottom: 2rem;
        background-color: #e9ffea;
    }
}